html {
  height: 100%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.leftColumn {
  background-color:rgb(108, 108, 108);
  color: white;
  flex: 30%;
  padding: 20px;
  border-radius: 30px;
  height: 100%;
  margin: 5px;
}

.leftColumn input {
  margin-top: 20px;
}

.leftColumn:last-child {
  margin-bottom: 20px;
}

.rightColumn {
  flex: 70%;
  background-color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 30px;
  height: 100%;
  margin: 5px;
}

.italic {
  font-style: italic;
}

input, 
textarea {
  display: block;
}

.container {
  display: flex;
}

p:hover {
  cursor:pointer;
 }